.body {
  background-color: #1c1a19;
  position: absolute;
  left: 0;
}

#div_1 {
  width: cover;
  height: 92px;
  left: 0;
  top: 0;
  margin: 0;
}

#div_2 {
  top: 92px;
  width: 375px;
  height: cover;
  background-color: #1c1a19;
}
