body {
  background-image: url(/Images/background.png);
  position: absolute;
  width: 200px;
  height: 150px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
}

.top_bar {
  display: flex;
  background-color: grey;
  position: absolute;
  width: 327px;
  height: 38px;
  left: 0;
  top: 0;
}

#nav {
  width: 400px;
  height: 92px;
  left: 0;
  top: 0;
}

#background {
  background-size: 200px 40px;
  background-repeat: no-repeat;
}

#intro {
  padding-right: 10px;
}

#greeting {
  color: #ff6b00;
  width: 327px;
  height: 80px;
  font-family: 'Create Round' sans-serif;
  font-size: 50px;
  font-weight: 400px;
  line-height: 64px;
}

#profession {
  color: white;
  width: 327px;
  height: 20px;
  left: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700px;
  line-height: 32px;
}

.description {
  color: white;
  width: 327px;
  height: 60px;
  left: 24px;
  font-weight: 400px;
  line-height: 24px;
}

#image_div {
  display: flex;
  width: 100px;
  background: rgb(0, 0, 0);
  padding: 10px;
}

#image_div > img {
  display: block;
  width: 15px;
  margin: 8px;
  top: 0;
}

#button_2 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  background-color: #802d0d;
  border: none;
}

#button_2:hover {
  background-color: #f2ce72;
  color: #f55800;
  border: 4px;
  border-color: #802d0d;
}

#button_2:active {
  color: #fff;
  background-color: #802d0d;
  border: none;
}

#button_2.disabled {
  color: black;
  background-color: #fff;
  cursor: not-allowed;
  opacity: 0.6;
}
